<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/img/lup1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Diego Fernández</h5>
    <p class="card-text">Invierte y se el mejor de todos, gana dinero inteligentemente.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">diego.fernandez.58@gmail.com</li>
    <li class="list-group-item">30/10/1989</li>
    <li class="list-group-item">Guatemala</li>
  </ul>
  <div class="card-body">
    <a [routerLink]="['/conf']" class="card-link">Modificar</a>
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img class="imgFrase" src="../../assets/img/frases/VIVE2.jpg" alt="">
  </div>
</div>
