<nav class="navbar navbar-dark navbar-expand-lg navbar-lup-admin">
	<a class="navbar-brand" href="#/homeL">
		<img src="/assets/img/icono1.gif" alt="" class="navbar-lup-admin-img">
		<!-- <i class="fab fa-angular fa-2x"></i> -->
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse navbar-lup-admin-menu" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/mantE">
					<i class="fas fa-building"></i>
					Empresas
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/mantU">
					<i class="fas fa-user-plus"></i>
					Usuarios
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/mantN">
					<i class="fas fa-newspaper"></i>
					Noticias
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/mantP">
					<i class="fas fa-user"></i>
					Personas
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/homeL">
					<i class="fas fa-question"></i>
					FAQ
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
				<i class="fas fa-times-circle"></i>
				Salir
			</a>
			</li>
		</ul>
	</div>
</nav>
