<app-navbar-log></app-navbar-log>
<br>
<div class="jumbotron jumbotron-fluid fadeIn" style="background-image:url('../assets/img/Carousel/lup2.jpg');">
  <div class="container">
    <h1 class="display-4" style="color:white;">Configuraciones</h1>

  </div>
</div>
<div class="container margen-arriba">

  <div class="row">
    <div class="col-lg-3">
      <img class="promo-size img-thumbnail persona" src="../assets/img/lup1.jpg" alt=""><br><br>
      <button type="button" class="btn btn-outline-primary btn-block">Cambiar Imagen</button>

      <br>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Lema</h5>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">Invierte y se el mejor de todos, gana dinero inteligentemente.
          </textarea><br>
          <button type="button" class="btn btn-outline-primary btn-block">Guardar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">

          <div class="row">
            <div class="col-lg-10">
              <h1 class="display-3">Datos personales</h1>
            </div>

            <div class="col-lg-2">
              <br>
               <button type="button" class="btn btn-outline-dark">Guardar</button>
            </div>

          </div>


          <hr>
          <form>

            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <div class="row">
                <div class="col-6">
                  <input type="input" class="form-control" id="exampleInputEmail7" aria-describedby="emailHelp" placeholder="Nombres">
                </div>
                <div class="col-6">
                  <input type="email" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp" placeholder="Apellidos">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail15" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Fecha Nacimiento</label>
              <input type="date" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Pais</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Guatemala</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

          </form>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">

          <div class="row">
            <div class="col-lg-10">
              <h1 class="display-3">Cuenta Paypal</h1>
              <p class="lead">Ingresa tus datos de tu cuenta Paypal para poder realizar transacciones.</p>
            </div>

            <div class="col-lg-2">
              <br>
               <button type="button" class="btn btn-outline-dark">Guardar</button>
            </div>

          </div>

        </div>
      </div>



    </div>
  </div>

</div>
