<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Acciones</h5>
    <h6 class="card-subtitle mb-2 text-muted">Acciones adquiridas.</h6>
    <p class="card-text">Encuentra tus acciones y administralas.</p>
  <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/Accion']">Ingresar</button>
  </div>
</div>

<br>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img class="imgFrase" src="../../assets/img/frases/SUENOS2.jpg" alt="">
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Empresas</h5>
    <h6 class="card-subtitle mb-2 text-muted">Empresas asociadas</h6>
    <p class="card-text">Encuentra las empresas asociadas para adquirir tus acciones.</p>
    <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/CatEmp']">Ingresar</button>
  </div>
</div>
