<app-navbar-log></app-navbar-log>
<br>

<div class="jumbotron jumbotron-fluid fadeIn" style="background-image:url('../assets/img/Carousel/lup2.jpg');">
  <div class="container">
    <h1 class="display-4" style="color:white;">Mis Acciones</h1>

  </div>
</div>

<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Adquisiciones</h1>

    <br>

    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Empresa</th>
          <th scope="col">Acciones</th>
          <th scope="col">valor</th>
          <th scope="col">Actual</th>
          <th scope="col">Vender</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Gmail</td>
          <td>5</td>
          <td>Q 100.00 </td>
          <td class="table-success">Q 105.00 </td>
          <td><a href="#" class="btn btn-danger">Vender</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Facebook</td>
          <td>5</td>
          <td>Q 50.00 </td>
          <td class="table-danger">Q 45.00 </td>
          <td><a href="#" class="btn btn-danger">Vender</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Google</td>
          <td>5</td>
          <td>Q 80.00 </td>
          <td>Q 80.00 </td>
          <td><a href="#" class="btn btn-danger">Vender</a></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
