  <div class="container">

    <div class="row">
      <div class="col-md-6   text-center marge-pro">
          <hr>
          <h1> La mejor inversón </h1>
          <br>
          <p class="size-letra">
          Ayuda a las empresas a crecer y crece tú financieramente,  comprando acciones y obteniendo regalías por ello. Se tú mismo el dueño de tus inversiones y  administra cada una de ellas.
          </p>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <img class="promo-size img-thumbnail imgFrases" src="../assets/img/frases/RETOS1.jpg" alt="">
        </div>
      </div>
    </div>

<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="promo-size img-thumbnail" src="../assets/img/Inicio/lup1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6   text-center marge-pro">
          <hr>
          <h1> Empresas </h1>
          <br>
          <p class="size-letra">
          Contamos con una categoría de empresas, en la cuales puedes elegir  entre las empresas que más te gusten. Examina su historia, sus finanzas e invierte en la que más te convenga.
          </p>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="card text-center">
  <div class="card-header">
    Paypal
  </div>
  <div class="card-body">
    <h5 class="card-title">La mejor manera  </h5>
    <p class="card-text">Administra tu dinero de inversiones y regalías por medio de paypal, de este modo tus transacciones serán seguras y transparentes.</p>
      <img class="promo-size img-thumbnail contenedor" src="../assets/img/Carousel/lup3.jpg" alt="">
  </div>
</div>

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="promo-size img-thumbnail" src="../assets/img/Inicio/lup1.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6   text-justify marge-pro">
          <hr>
          <h1> Compra y Venta </h1>
          <br>
          <p class="size-letra">
          Compra acciones  de diferentes empresas alrededor del mundo, obtén regalizas. En caso quieras vendar tus acciones lo puedes hacer de una manera segura y transparente.
          </p>
      </div>
    </div>

  </div>
</div>
