<footer class="mainfooter" role="contentinfo">
  <div class="footer-bottom">
    <div class="container">
      <br>
      <h1 class="display-4 text-center">LUP</h1>
      <hr color="white">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-lg-1">


            </div>
            <div class="col-lg-3">

              <p><u>Compañia</u></p>
              <a [routerLink]="['/nosotros']">Nosotros</a><br>
              <a href="#">Terminos y condiciones</a><br>
              <a href="#">Politicas de privacidad</a><br>
            </div>
            <div class="col-lg-1">


            </div>
            <div class="col-lg-3">
                <p><u>Soporte</u></p>
                <a [routerLink]="['/ayuda']">Ayuda</a><br>
                <a [routerLink]="['/faq']">Preguntas frecuentes</a><br>
            </div>
            <div class="col-lg-1">


            </div>
            <div class="col-lg-3">
                <p><u>Social</u></p>
                <a href="#">Facebook</a><br>
                <a href="#">Twitterr</a><br>
                <a href="#">Google</a><br>

            </div>
          </div>
          <br><br><br><br><br><br>
          <div id="copy" class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
              <p class="text-xs-center">&copy; LUP 2018.</p>
            </div>
            <div class="col-lg-4">

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <img  class="text-center imgfooter" src="../assets/img/LUP-elementos-01.jpg" alt="First slide" height="300">
        </div>
      </div>
      <br>
    </div>
  </div>
</footer>
